(
    dimensions: (width: 3840, height: 2160),
    spread: QuarterCircle(radius: 5),
    distance_power: -1.75,
    random_power: 3.5,
    random_max: 0.05,
    gamma: 0.75,
    //start_color: (red: 0.32941288, green: 0.30954784, blue: 0.7329547),
    //seed: "sjCVyNoAPAoSGODQXZd/CzA/SAJU7svjgZv28VAFSJY=",
)
